html, body {
  font-family: helvetica, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  overflow: auto;
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
}
*:focus {
  outline: none;
}
button {
  cursor: pointer;
}
.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 3em;
  color: #4A4A4A;
  margin: 0;
}
h2 {
  font-size: 2.25em;
  color: #4A4A4A;
  margin: 0;
}
h3 {
  margin: 0;
  font-size: 1.75em;
  color: #2a2a2a;
}
a {
  color: #D0021B;
  text-decoration: none;
}
a:hover {
  color: #920D10;
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  background-color: #D0021B;
  box-shadow: 0 0 10px #606060;
  height: 58px;
}

#headerSpacer {
    height: 80px;
    width: 100%;
}

.appContent {
  transition: 0.3s filter linear;
  -webkit-transition: 0.3s -webkit-filter linear;
  -moz-transition: 0.3s -moz-filter linear;
  -ms-transition: 0.3s -ms-filter linear;
  -o-transition: 0.3s -o-filter linear;
}

/*Begin header styles*/

.pageHeader {
  display: inline-block;
  margin: 5px;
  font-size: 2.5em;
  font-weight: normal;
  color: #FFFFFF;
  height: calc(100% - 10px);
}
.headerLine {
  height: 2px;
  padding: 0;
  margin: 0;
  background-color: #4A4A4A;
  color: #4A4A4A;
  border: 0 none;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.headerButton {
  display: inline-block;
  float: right;
  height: 100%;
  border-style: none;
  font-size: 16px;
  color: #4A4A4A;
  background-color: #FFF;
}
.headerButton:active {
  background-color: black;
  border-radius: 4px;
}
.headerButton:hover {
    background-color: #A4101A !important;
}
#logInButton, #signUpButton, #alumButton {
  background-color: inherit;
  border-width: 1.5px;
  color: #FFF;
}
#logInButton {
    margin-right: 1em;
}

/*End header styles*/


/* Begin question styles */


/* TODO: MAKE THIS ACTUALLY DECENT */

.questionListContainer {
  margin-top: 2em;
  position: relative;
  width: 70%;
  left: calc(50% - (70% / 2));
}
.questionContainer {
  margin-bottom: 2em;
  border-bottom: 2px solid rgb(129, 129, 129);
  padding: 0.5em;
}
.questionContainer .questionHeader {
  margin: 0;
}
.questionContainer .questionSpec {
  margin-top: 0;
  margin-bottom: 1.5em;
}
.questionContainer .questionContent {
  margin-left: 1em;
}

/* End question styles */


/* Begin modal styles */

.modalBlurFilter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}
.modalContainer {
  position: fixed;
  border: 0.3em solid white;
  padding: 1em;
  width: calc(37% - (0.3em + 1em) * 2);
  min-width: 300px;
  height: calc(50% - (0.3em + 1em) * 2);
  min-height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.0);
  background-color: white;
}
.modal-anim-enter.modalBlurFilter {
  opacity: 0.00;
  transition: all 0.3s;
}
.modal-anim-enter-active.modalBlurFilter {
  opacity: 0.5;
}
.modal-anim-enter.modalContainer {
  opacity: 0.00;
  transform: translate(-50%, -50%) scale(0.8);
  transition: all 0.3s;
}
.modal-anim-enter-active.modalContainer {
  transform: translate(-50%, -50%) scale(1.0);
  opacity: 1;
}
.modal-anim-leave.modalBlurFilter {
  opacity: 0.5;
  transition: all 0.3s;
}
.modal-anim-leave-active.modalBlurFilter {
  opacity: 0.0;
}
.modal-anim-leave.modalContainer {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.0);
  transition: all 0.3s;
}
.modal-anim-leave-active.modalContainer {
  opacity: 0.0;
  transform: translate(-50%, -50%) scale(0.8);
}
.modal-header {
  display: inline-block;
  margin: 5px;
  margin-bottom: 8px;
  line-height: 42px;
  font-size: 42px;
  color: #4A4A4A;
}
.modal-hr {
  margin: 4px 0 4px 0;
}
.modal-subheader {
  display: inline-block;
  margin: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #4A4A4A;
  margin-bottom: 0;
}
.modal-input {
  padding: 5px;
  border: 1px solid #BDBDBD;
  margin: 4px 0 4px 0;
  line-height: 15px;
  width: calc(100% - (5px + 1px) * 2);
}
.modal-input.invalid {
  background-color: #e88181;
}
.modal-input-first-name {
  width: calc(50% - (5px + 1px) * 2 - 4px);
  margin-right: 4px;
}
.modal-input-last-name {
  width: calc(50% - (5px + 1px) * 2 - 4px);
  margin-left: 4px;
}
.modal-button {
  display: inline-block;
  border: 1px solid black;
  margin: 7px 0 7px 0;
  height: 23px;
  width: 100%;
  color: #4A4A4A;
  background-color: #FFF;
  border-radius: 4px;
}
.modal-close-button {
  position: absolute;
  border: none;
  color: #4A4A4A;
  background-color: white;
  font: 23px/100% arial, sans-serif;
  text-decoration: none;
  top: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 20px;
}
.modal-close-button:after {
  content: "✖";
}

/* End modal styles */

/* Begin user dropdown styles */

.dropdown-mainbutton {
  height: 19px;
  font-size: 18px;
  display: block;
  position: absolute;
  right: 18px;
  top: 0;
  padding-top: 18.5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 18.5px; /* two less because line */
  margin-bottom: 2px;
  cursor: pointer;


  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  user-select: none;

  z-index: 5;
  color: #ffffff;
  /* border-left: .5px solid #4A4A4A; for testing purposes */
  /* border-right: .5px solid #4A4A4A; */
}

.dropdown-mainbutton:hover {
    background-color: #A4101A !important;
}

.fa {
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  transition: transform .2s ease-in-out
}

.dropdown-opttablecontainer {
  position: absolute;
  font-size: 16px;
  top: 48px;
  right: -6px;
  width: 130px;
  transform-origin: top;
  color: #4f4f4f;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  -moz-transition: -moz-transform .2s ease-in-out;
  -ms-transition: -ms-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.dropdown-opttable {
  background-color: white;
  width: 130px;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  border-spacing: 0;
  z-index: 4;
}

.dropdown-opttable td {
  padding: 8px;
  border-bottom: 1px solid #BDBDBD;
  overflow: hidden;
}

.dropdown-opttable td.hidden {
  color: #808080;
}

.dropdown-opttable td:hover {
  background-color: #f0f0f0;
}

.dropdown-opttable tr:first-child td {
    border-radius: 4px 4px 0 0; /* must be the same as parent, or corners will clip */
}

.dropdown-opttable tr:last-child td {
  border-radius: 0 0 4px 4px; /* must be the same as parent, or corners will clip */
  border-bottom: none;
}

.dropdown-opttable:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 8px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 5;
    top: -7px;
    left: 96px;
}

.dropdown-opttable:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 9px 9px;
    border-color: #BDBDBD transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -8.5px;
    left: 95px;
}

/* End user dropdown styles */


.dropdown-opttable td.disabled {
  color: #8f8f8f;
}
.dropdown-opttable td.disabled:hover {
  background-color: #fff;
}
