/*Known issues
	-headerline style leaves slight margins to left and right of line
*/

html, body {
    font-family: helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}

h1 {
	font-size: 3em;
	color: #4A4A4A;
}

h2 {
	font-size: 2.25em;
	color: #858585;
}

.header{
	margin: 5px;
}

.headerline{
	height:3px;
	padding:0px;
    margin-left:0px;
    background-color:#4A4A4A;
    color:#4A4A4A;
    border: 0 none;
	-webkit-animation-name: expandright;
	-webkit-animation-duration: 1.5s;
	animation-name: expandright;
	animation-duration: 1.5s;
}

.centersubheader{
	text-align:center;
}

.subheaderline{
	height:2px;
	padding:0px;
    background-color:#4A4A4A;
    color:#4A4A4A;
    border: 0 none;
    width:60%;
	-webkit-animation-name: expandout;
	-webkit-animation-duration: 1.5s;
	animation-name: expandout;
	animation-duration: 1.5s;
}

/* For line under header, expanding from left to right*/

@-webkit-keyframes expandright {
	0%   {width:0%;}
	100% {width:100%;}
}
@keyframes expandright {
	0%   {width:0%;}
	100% {width:100%;}
}

/* For line under subheader, expanding from out*/

@-webkit-keyframes expandout {
	0%   {width:0%;}
	100% {width:60%%;}
}
@keyframes expandout {
	0%   {width:0%;}
	100% {width:60%;}
}
