html, body {
    font-family: helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 3em;
	color: #4A4A4A;
	margin:0;
}
h2 {
    font-size: 2.25em;
    color: #4A4A4A;
    margin:0;
}

h3 {
	margin:0;
}

a  {
	color: #D0021B;
	text-decoration:none;
}

a:hover{
	color: #920D10;
	text-decoration: none;
}

/*Begin header styles*/

.pageHeader {
    display: inline-block;
    margin: 5px;
	font-size: 2.25em;
	color: #4A4A4A;
}

.headerLine {
    height: 3px;
    padding: 0;
    margin: 0;
    background-color: #4A4A4A;
    color: #4A4A4A;
    border: 0 none;
}

.headerButton {
    display: inline-block;
    float: right;
    margin-top: calc(.5em + 5px);
    margin-bottom: calc(.5em + 0px);
    margin-right: 1em;
    height: 2.25em;
    border-style: solid;
    border-radius: 3px;
}

.headerButton:active {
    background-color: black;
    border-radius: 3px;
}

#logInButton, #signUpButton {
    background-color: inherit;
    border-width: 1.5px;
    color: #4A4A4A;
}

/*End header styles*/

/* Begin question styles */ /* TODO: MAKE THIS ACTUALLY DECENT */

.questionListContainer {
  margin-top: 2em;
  position: absolute;
  width: 50%;
  left: calc(50% - (50% / 2));
}

.questionContainer {
  margin-bottom: 2em;
  border-bottom: 2px solid rgb(129, 129, 129);
  padding: 0.5em;
}

.questionContainer .questionHeader {
  margin: 0;
}

.questionContainer .questionSpec {
  margin-top: 0;
  margin-bottom: 2em;
}

.questionContainer .questionContent {
  margin-left: 1em;
}

/* End question styles */
