html, body {
    font-family: helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 3em;
	color: #4A4A4A;
	margin:0;
}
h2 {
    font-size: 2.25em;
    color: #4A4A4A;
    margin:0;
}

h3 {
	margin:0;
  font-size: 1.75em;
  color: #2a2a2a;
}

a  {
	color: #D0021B;
	text-decoration:none;
}

a:hover{
	color: #920D10;
	text-decoration: none;
}


.appContent {
  transition: filter 0.2s;
}


/*Begin header styles*/

.pageHeader {
    display: inline-block;
    margin: 5px;
	font-size: 2.25em;
	color: #4A4A4A;
}

.headerLine {
    height: 3px;
    padding: 0;
    margin: 0;
    background-color: #4A4A4A;
    color: #4A4A4A;
    border: 0 none;
}

.headerButton {
    display: inline-block;
    float: right;
    margin-top: calc(.5em + 5px);
    margin-bottom: calc(.5em + 0px);
    margin-right: 1em;
    height: 2.25em;
    border-style: solid;
    border-radius: 3px;
}

.headerButton:active {
    background-color: black;
    border-radius: 3px;
}

#logInButton, #signUpButton {
    background-color: inherit;
    border-width: 1.5px;
    color: #4A4A4A;
}

/*End header styles*/

/* Begin question styles */ /* TODO: MAKE THIS ACTUALLY DECENT */

.questionListContainer {
  margin-top: 2em;
  position: relative;
  width: 70%;
  left: calc(50% - (70% / 2));
}

.questionContainer {
  margin-bottom: 2em;
  border-bottom: 2px solid rgb(129, 129, 129);
  padding: 0.5em;
}

.questionContainer .questionHeader {
  margin: 0;
}

.questionContainer .questionSpec {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.questionContainer .questionContent {
  margin-left: 1em;
}

/* End question styles */

/* Begin modal styles */
.modalBlurFilter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;

}

.modalContainer {
  position: absolute;
  width: 50%;
  height: 50%;
  left: calc(50% - (50% / 2));
  top: calc(50% - (50% / 2));
  border: 0.3em solid black;
  background-color: white;
  padding: 1em;
  opacity: 1;
}

.modal-anim-enter.modalBlurFilter {
  opacity: 0.00;
  transition: opacity 0.2s;
}

.modal-anim-enter-active.modalBlurFilter {
  opacity: 0.5;
}

.modal-anim-enter.modalContainer {
  opacity: 0.00;
  transition: opacity 0.2s;
}

.modal-anim-enter-active.modalContainer {
  opacity: 1;
}

.modal-anim-leave.modalBlurFilter {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.modal-anim-leave-active.modalBlurFilter {
  opacity: 0.0;
}

.modal-anim-leave.modalContainer {
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-anim-leave-active.modalContainer {
  opacity: 0.0;
}


/* End modal styles */
