
/* Begin search bar styles */
.searchbar-container {
  position: relative;
  margin: 7px;
  width: calc(70% - 7px * 2);
  left: calc(50% - (70% / 2));
}

.searchbar-container > table {
  border-spacing: 0;
  width: 100%;
}

.searchbar-container tr {
  height: 100%;
}

.searchbar-container td {
  padding: 0;
  height: 100%
}
.searchbar-container td:last-child, .searchbar-container td:first-child {
  width: 1%;
  white-space: nowrap;
}

.searchbar-searchicon {

  border: 1px solid #BDBDBD;

  border-right: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;

  height: 32px;
  width: 32px;

}

.searchbar-searchicon .fa {
  margin-left: 5px;
  margin-right: 1px;
}

.searchbar-input {
  border: 1px solid #BDBDBD;
  border-left: none;
  border-right: none;

  padding: 5px;
  padding-bottom: 3px;
  height: 22px;
  width: calc(100% - 5px - 5px);

  font-family: helvetica, sans-serif;
  font-size: 15px;

}

.searchbar-button {
  border: 1px solid #BDBDBD;
  padding: 5px;

  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;

  background-color: white;
  height: calc(12px + 20px);
  width: 90px;
}

/* End search bar styles */

/* Begin user dropdown styles */

.dropdown-mainbutton {
  display: block;
  position: absolute;
  right: 20px;
  top: 15px
}

.dropdown-opttablecontainer {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
}

.dropdown-opttable {
  background-color: white;
  width: 100%;
  border: 1px solid black;
}

/* End user dropdown styles */
